.pokemon-name {
  text-transform: capitalize;
}

.pokemon-number {
  font-weight: bold;
  font-size: 12px;
  color: #8F9396;
}

.pokemon-image {
  image-rendering: pixelated;
  transition-duration: 100ms;
}

.pokemon-image:hover {
  transform: scale(1.15);
}